@page "/edivalidator"

<h3>Edi Validator</h3>

<EditForm Model="@ViewModel" OnSubmit="@FormSubmitted">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div>Edi to Validate</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <InputTextArea @bind-Value="@ViewModel.EdiRequest" class="form-control" style="height: 300px;" placeholder="Paste in text or use the 'Choose File' button to open a file." />
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <div class="text-left">
                            <input class="btn btn-secondary" type="file" />
                        </div>
                        <div class="text-rigt">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <strong>Status: @Status</strong>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Edi (Formatted)
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-striped">
                        <tr>
                            <td>
                                Line 1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Line 2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Line 3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Line 4
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Line 5
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {


    // TODO: Add form validation.
}
