@page "/"

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@

<div class="jumbotron">
    <h1 class="display-4">Edi Web</h1>
    <p class="lead">An SSI Group Innovation Goal technology demonstration.</p>
    <hr class="my-4" />
    <p>
        The Edi Web illustrates using the modern web technology stack to validate X12 EDI payloads. The Edi Web uses Blazor for the user interface. The backend X12 EDI validation services use SSI's Edi Library (converted to DotNet Core) and gRPC to communicate with the user interface.
    </p>
    <p>Click on the <strong>Edi Validator</strong> navigation link to view the demonostration.</p>
</div>
